.privay-policy {
    margin-top: 6rem;
    padding: 0rem 7rem;
    font-family: 'Gilroy';
}

.heading {
    text-decoration-line: underline;
    color: #18365d;
}

.color {
    color: #4e98df;
}

.privay-policy * {
    padding-bottom: 1rem;
}


@media only screen and (max-width: 1400px) {
    .privay-policy {
        padding: 0rem 1rem;
    }
}