.currency-content{
    background-color: #f8f8f7;
    padding: 8rem 0rem 6rem 0rem;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.currency-content > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.currency-content-text > h1{
    width: 35rem;
    padding-bottom: 1rem;
}
.currency-content-text > p{
    width: 30rem;
}
.currency-content-text > img{
    border: 2px solid yellow;
}
.ImportantText{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 41rem;
    text-align: right;
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    color: #dad4d2;
}


@media only screen and (max-width: 1400px) 
{
    .currency-content{
        display: none;
    }
}
@media only screen and (min-width: 1400px) {
}