---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import SectionOne from "../components/SectionOne.astro";
---

<Layout title="PayShiga">
  <main>
    <div class="main">
      <Nav />
      <Hero />
      <SectionOne />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
  }
</style>
