.start-child-content{
    padding: 8rem 0rem 0rem 0rem;
    display: flex;
    width: 80rem;
    justify-content: space-between;
}
.start-child-content-text > h1{
    color:#15183d;
    width: 28rem;
    margin-bottom: 1rem;
}
.start-child-content-text > p{
    color:#050516;
    width: 27rem;
}
.start-child-content-text > input{
    margin:3rem 0 0 0.1rem;
    padding:1rem;
    border-radius:2rem;
    width:17rem;
    font-size:1.2rem;
    border:1px solid #767676;
}
.start-child-content-text > button{
    padding:1rem;
    margin:0rem 0rem 0rem 1rem;
    border-radius:2rem;
    width:11rem;
    background-color:#f2bf11;
    border:none;
    font-size:1.4rem;
    font-family:Gilroy-Medium;
    font-weight:900;
}
.start-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

@media only screen and (max-width: 1400px) 
{
    .start-content{
        display: none;
    }
    .start-content-mob{
        padding: 3rem 3rem 0rem 3rem;
        text-align: center;
    }
    .start-content-mob > h1{
        padding-bottom: 1rem;
    }
    .start-content-mob > p{
        padding-bottom: 1rem;
    }
    .start-content-mob > img{
        width: 100%;
        margin-top: 3rem;
    }
    .start-content-mob > input{
        margin:3rem 0 0 0.1rem;
        padding:1rem;
        border-radius:2rem;
        width:9rem;
        font-size:0.8rem;
        border:1px solid #767676;
    }
    .start-content-mob > button{
        padding:1rem;
        margin:0rem 0rem 0rem 1rem;
        border-radius:2rem;    
        width:7rem;
        background-color:#f2bf11;
        border:none;
        font-size:0.8rem;
        font-family:'Gilroy-Medium';
        font-weight:900;
    }
}
@media only screen and (min-width: 1400px) {
    .start-content-mob{
        display: none;
    }
}