.Navbar{
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0e;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 80%;
    z-index: 10;
}
#nav-btn_1{
    cursor: pointer;
    border: none;
    padding-left: 0.4rem;
}
#nav-btn_2{
    background-color: white;
    color: black;
    border: none;
    margin-right: 0.7rem;
    cursor: pointer;
}
.Link > div{
    display:flex;
    align-items:center;
    border-radius:2.4rem;
    padding:10px 15px;
    background-color: white;
    width: 9.5rem;
}
.Link > div > button{
    background-color: white;
    color: black;
    border: none;
    margin-right: 0.7rem;
    cursor: pointer;
    margin-top: 0rem;
    width:9.5rem;
}
.nav-btn > button{
    cursor: pointer;
    border: none;
    margin-right: 1.8rem;
}
.nav-left{
    width: 33%;
}
.nav-middle{
    width: 16rem;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red;   */
    align-items: center;
}
.nav-middle > a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-right{
    width: 33%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-btn > button{
    color: white;
    font-size:1rem !important;
    background-color: #0f0f0e;
}
.nav-btn > button > p{
    font-family: 'Gilroy-Medium';
    font-weight: 800;
    font-style: normal;
}
.nav-btn{
    cursor: pointer;
}
.hiddiv{
    display: none;
    color: white;
    font-size: 1.3rem;
}
.sidebar{
    width: 100%;
    min-height: 100vh;
    background-color: #0f0f0e;
    position: fixed;
    top: 0; 
    left: 100%;
    z-index: 1;
    transition: 0.5s;
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
}
.sidebar > a{
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
}
.sidebar.active{
    left: 0;
}
.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
@media only screen and (max-width: 1400px) 
{
    .nav-middle{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .hiddiv{
        display: flex;
        padding-right: 2rem;
    }
    .Navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem 1rem 1rem;
        margin: 0;
        width: 100%;
        position: fixed;
     
    }
}