---
---

<section class="hero">
  <div class="hero__info">
    <div class="hero__info--top">
      <h1 class="hero__title">One wallet<br />Global payment</h1>
      <p class="hero__desc">
        Shiga by Payshiga is the easiest way to make hassle-free cross-border
        payments on the go. <span class="text-mobile"
          >Send money to anyone, anywhere, anytime, for zero fees.</span
        >
      </p>
    </div>

    <div class="qr-code">
      <img src="/img/qr-code.svg" alt="qr code to download app" />
      <div>
        <span>Scan QR code<br />to download<br />the Shiga app</span>
        <img src="/img/hero-qr-icon.svg" alt="arrow pointing left" />
      </div>
    </div>

    <ul class="hero__store-links">
      <li class="hero__appstore">
        <a href="https://apps.apple.com/gb/app/shiga/id6444189418"
          ><img src="/img/appstore-alt.svg" alt="appstore info graphic" /></a
        >
      </li>
      <li class="hero__appstore">
        <a href="https://play.google.com/store/apps/details?id=com.payshiga"
          ><img src="/img/playstore-alt.svg" alt="playstore info graphic" /></a
        >
      </li>
    </ul>

    <div class="hero__trusted">
      <p>Trusted by the fast-growing companies as seen on:</p>
      <ul>
        <li><img src="/img/techpoint.svg" alt="Techpoint logo" /></li>
        <li><img src="/img/guardian_logo.svg" alt=" Guardian logo" /></li>
        <li><img src="/img/techcrunch.svg" alt=" TechCrunch logo" /></li>
        <li><img src="/img/forbes_logo.svg" alt="Forbes logo" /></li>
      </ul>
    </div>
  </div>

  <div class="hero__img">
    <img src="/img/hero-phone.png" alt="Payshiga app" />
  </div>
</section>

<style lang="scss">
  @import "../styles/_variables.scss";
  @import "../styles/_breakpoints.scss";

  .hero {
    height: 100vh;
    padding-top: 100px;
    display: flex;
    column-gap: 36px;
    justify-content: center;

    @include media("<=tablet") {
      text-align: center;
      justify-content: center;
      height: 100%;
    }

    @include media(">=345px") {
      height: 100vh;
    }

    @include media(">=desktop") {
      justify-content: center;
    }

    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 50px;

      @include media("<=tablet") {
        align-items: center;
      }

      @include media(">=LGDesktop") {
        row-gap: 7rem;
      }

      &--top {
        .hero__title {
          font-size: 3rem;
          text-transform: uppercase;
          margin-bottom: 20px;

          @include media("<=tablet") {
            font-size: 2rem;
          }
        }

        .hero__desc {
          color: $textTertiary;
          max-width: 517px;

          .text-mobile {
            display: none;

            @include media("<=tablet") {
              display: inline;
            }
          }
        }
      }

      .qr-code {
        @include media("<=tablet") {
          display: none;
        }
      }

      .hero__store-links {
        display: none;
        gap: 20px;

        @include media("<=tablet") {
          display: flex;
        }

        li > a {
          background-color: $bgSecondary;
          padding: 10px 15px;
          border-radius: 50px;
          display: flex;
          align-items: center;

          img {
            width: 75px;
          }
        }
      }

      .hero__trusted {
        p {
          margin-bottom: 30px;
        }

        ul {
          display: flex;
          gap: 30px;

          @include media("<=tablet") {
            flex-wrap: wrap;
            justify-content: center;
          }

          li {
            height: 100%;

            &:last-child > img {
              width: 75px;

              @include media("<=tablet") {
                width: 65px;
              }
            }

            img {
              filter: grayscale(100);

              @include media("<=tablet") {
                width: 100px;
              }
            }
          }
        }
      }
    }

    &__img {
      margin-top: 50px;

      @include media("<=tablet") {
        display: none;
      }

      @include media(">=LGDesktop") {
        margin-top: 125px;
      }

      img {
        max-width: 410px;

        @include media(">=LGDesktop") {
          max-width: 510px;
        }
      }
    }
  }
</style>
