---
---

<nav class="nav">
  <div class="nav__logo">
    <img src="/img/logo.png" alt="Shiga logo" />
  </div>

  <ul class="nav__list">
    <li class="nav__item">Career</li>
    <li class="nav__item">Blog</li>
    <li class="nav__item">FAQs</li>
  </ul>

  <a href="/" class="nav__download-btn"> Download App</a>

  <img src="/img/burger-icon.svg" alt="burger icon" class="nav__burger" />
</nav>

<style lang="scss">
  @import "../../styles/_variables.scss";
  @import "../../styles/_breakpoints.scss";

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: absolute;
    top: 0;
    left: 0;

    @include media("<=tablet") {
      padding: 1rem;
    }

    &__logo {
      img {
        width: 67px;

        @include media("<=tablet") {
          width: 57px;
        }
      }
    }

    &__burger {
      display: none;
      width: 16px;

      @include media("<=tablet") {
        display: block;
      }
    }

    &__list {
      display: flex;
      gap: 50px;

      @include media("<=tablet") {
        display: none;
      }
    }

    &__download-btn {
      padding: 8px 16px;
      background-color: $bgSecondary;
      border-radius: 20px;
      color: $bgPrimary;

      @include media("<=tablet") {
        display: none;
      }
    }
  }
</style>
