.footer-content{
    background-color: #0f0f0e;
    padding: 8rem 15rem;
    display: flex;
    justify-content: space-between;
}
.footer-content-img{
    display: flex;
}
.footer-content-left{
    width: 33%;
}
.footer-content-left > h1{
    color: white;
    width: 20rem;
    padding-bottom: 3rem;
}
.footer-content-img{
    margin-top: 1rem;
    margin-bottom: 7rem;
}
.footer-content-img > div{
    margin-left: 1rem;
}
.footer-content-img > div > p{
    font-family: 'Gilroy-Medium';
    font-weight: 800;
    font-style: normal;
    color: white;
    width: 7rem;
    margin-bottom: 0.4rem;
}
.footer-content-left-bottom > p{
    margin-top: 0.4rem;
    color: #70706f;
}
.footer-content-mid{
    display: flex;
    width: 33%;  
    justify-content: space-between;
}
.footer-content-mid > div{
    display: flex;
    flex-direction: column;
}
.footer-content-mid > div > h7{
    color: #70706f;

}
.footer-content-mid > div > a{
    font-family: 'Gilroy-Light';
    font-weight: 900;
    font-style: normal;
    margin-top: 1.5rem;
    text-decoration: none;
    color: white;
}
.footer-content-right{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.footer-content-right-top{
    display: flex;
    flex-direction: column;
    height: 22rem;
}
.footer-content-right-top-image-1{
    align-self: flex-end;
}
.footer-content-right-top-image-2{
    margin-bottom: 3rem;
    margin-top: 0.6rem;
    align-self: flex-end;
}
.footer-content-right-top > p{
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    color: #70706f;
    margin-bottom: 1rem;
    align-self: flex-end;
}
.footer-content-right-mail > h3{
    color: white;
    font-family: 'Gilroy-Medium';
    font-weight: 300;
}
.footer-content-right-bottom > p{
    font-family: 'Gilroy-Medium';
    font-weight: 300;
    color: white;
}
.footer-content-right-bottom > div{
    color: #70706f;
    width: 13rem !important;
}
.footer-content-right-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-content-right-bottom{
    margin-top: 1.7rem;
}
.footer-content-right-bottom > div{
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}
.footer-content-right-bottom > div > img{
    margin-right: 0.6rem;
}

@media only screen and (max-width: 1400px) 
{
    .footer-content{
        display: none;
    }
    .footer-content-mob{
        background-color: #110f11;
        padding: 5rem 2rem;
    }
    .footer-content-mob > h1{
        color: white;
    }
    .footer-content-mob > div{
        color: #99979a;
    }
    .footer-content-mob-menu > div > a{
        text-decoration: none;
        color: white;
        margin-top: 1rem;
    }
    .footer-content-mob > div{
        display: flex;
        flex-direction: column;        
    }
    .footer-content-mob-menu > div{
        display: flex;
        flex-direction: column;        
        width: 50%;
    }
    .footer-content-mob-menu {
        flex-direction: row !important;
        margin-bottom: 3rem;
    }
    .footer-content-mob > div > a{
        margin: 1rem 0rem 0rem 0rem;
        text-decoration: none;
        color: white;
    }
    .footer-content-mob-stores{
        margin: 2rem 0rem 4rem -1rem;
        flex-direction: row !important;
        width: 17rem;
    }
    .footer-content-mob-stores > img{
        margin-left: 1rem;
    }
    .footer-content-mob-links > p{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .footer-content-mob-contact{
        margin-top: 2rem;
    }
    .footer-content-mob-contact > p{
        padding-bottom: 1rem;
    }
    .footer-content-mob-country > div{
        display: flex;
    }
    .footer-content-mob-country > p{
        color: white;
        margin-top: 0.6rem;
    }
    .footer-content-shigalogo > img{
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 5rem;
    }
}
@media only screen and (min-width: 1400px) {
    .footer-content-mob{
        display: none;
    }
}